.selectProduct.settings{
    .contact{
        position: unset;
    }
    i.fa-check{
        color: var(--baseColor);
    }
    .head{
        justify-content: space-between;
        position: relative;
        button{
            background: none;
            color: var(--baseColor);
            &.done{
                padding-left: 15px;
                position: unset;
            }
        }
    }
}