@import "../../responsive";

.listProduct{
    flex-wrap: wrap;
    text-align: center;

    .listProduct-under{
        justify-content: space-between;
        padding: 15px;

        select{
            border: none;
            text-align-last: right;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;      
            color: var(--orange);
            background: var(--white);
            &:focus{
                outline: none;
            }
        }
      
        option{
            outline: none;
            border: none;
            background: var(--white);
            &:hover{
                 background: var(--white);

            }
        }
      
    }
    .showProduct{
        padding: 0px 15px 15px 15px;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid var(--lightgray);
    }
    .product{
        @include rs-xl{ 
            width: 140px;
            height: 210px;
        };
        @include rs-lg { 
            width: 165px;
            height: 230px;
        }
        @include rs-md { 
            width: 165px;
            height: 230px;
        }
       
        img{
            @include rs-xl{ 
                width: 145px;
                height: 145px;
            };
            @include rs-lg { 
                width: 165px;
                height: 165px;
            }
            @include rs-md { 
                width: 165px;
                height: 165px;
            }
        }
    }
    header{
        button{
            background: none;
            color: gray;
            padding: 8px;
    
            &.active{
                border: none;
                border-bottom: 1.5px solid var(--orange);
            }
        }
    }
}