.detail{
    h6{
        margin: 15px 0;
        text-align: center;
        font-weight: bold;
    }
    .slide{
        .owl-carousel{
            position: relative;
            .item{
                img{
                    width: 400px;
                    height: 300px;
                }
            }
            .owl-dots{
                width: 100%;
                position: absolute;
                bottom: 8px;
                button{
                    margin: -4px;
                    span{
                        background: var(--white);
                    }
                    &.active{
                        span{
                            background: var(--orange);
                        }
                    }
                }
            }
        }
    }
    .contact{
        width: 100%;
        justify-content: space-between;
        background: var(--orange);
        padding: 15px 30px;
        position: relative;

        button{
            border-radius: 0;
        }

        &:after{
            content: '';
            position: absolute;
            left: 40%;
            top:25%;
            height: 50%;
            width: 1px;
            background: var(--white);
        }
    }
    p{
        padding: 15px;
        margin: 15px 15px 50px 15px;
        height: 159px;
        background: var(--gray-background);
    }
    table{
        td{
            i{
                font-size: 6px;
            }
            &.available{
                color: var(--green);
                position: relative;
                i{
                    position: absolute;
                    top: 45%;
                    left: 90px;
                }
            }
            &.notavailable{
                color: var(--gray-background-button);
                position: relative;
                i{
                    position: absolute;
                    top: 45%;
                    left: 120px;
                }
            }
            &.comingsoon{
                color: var(--orange);
                position: relative;
                i{
                    position: absolute;
                    top: 45%;
                    left: 120px;
                }
            }
        }
    }
}