.groupProduct{
    padding: 15px;
    border-top: 1px solid var(--lightgray);
    h3{
        font-weight: 400;
    }
    
    // .item{
    //     position: relative;
    //     width: 130px;
    //     height: 130px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     img{
    //         position: absolute;
    //         left: 0;
    //         top: 0;
    //         z-index: -1;
    //         width: 130px;
    //         height: 130px;
    //         border-radius: 5px;
    //     }
    //     p{
    //         color: var(--colorWhite);
    //         width: 80%;
    //         text-align: center;
    //     }
    // }
}