.productdetail{
    .slide{
        .owl-item{
            img{
                width: 400px;
                height: 250px;
            }
        }
        .owl-theme{
            position: relative;
            .owl-dots{
                position: absolute;
                left: 45%;
                bottom: 5px;
                .owl-dot{
                    margin-right: -8px;
                    span{
                        background: white;
                    }
                }
                .active{
                    span{
                        background: #FC7521;
                    }
                }
            }
        }
    }
    .contact{
        width: 100%;
        justify-content: space-between;
        background: #FC7521;
        padding: 15px 30px;
        position: relative;

        button{
            border-radius: 0;
        }

        &:after{
            content: '';
            position: absolute;
            left: 40%;
            top:25%;
            height: 50%;
            width: 1px;
            background: white;
        }
    }
    p{
        padding: 15px;
        margin: 15px 15px 50px 15px;
        height: 159px;
        background: #E4E4E4;
    }
}