.productdetail{
    .slide{
        img{
            width: 100%;
            height: 380px;
        }
    }
    .contact{
        width: 100%;
        justify-content: space-between;
        background: #FC7521;
        padding: 15px 30px;
        position: relative;

        button{
            border-radius: 0;
        }

        &:after{
            content: '';
            position: absolute;
            left: 40%;
            top:25%;
            height: 50%;
            width: 1px;
            background: white;
        }
    }
}