.product{
    img{
        width: 140px;
        height: 140px;
        border-radius: 5px;
    }
    p{
        font-size: 14px;
        &.serial{
            color: var(--baseColor);
        }
    }
}