.product{
    img{
        width: 130px;
        height: 130px;
        border-radius: 5px;
    }
    p{
        font-size: 14px;
        line-height: 25px;
        &.serial{
            color: var(--orange);
        }
    }
}