.modalpreview{
    position: fixed;
    // position: relative;
    opacity: 1;
    top: 0;
    right: 37%;
    z-index: 100;
    background: var(--gray-text-button);
    height: 100vh;
    background: var(--black);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        position: absolute;
        right: 0px;
        top: 20px;
        color: var(--white);
        width: 100%;
        text-align: center;
    }
    button{
        i{
            position: absolute;
            right: 20px;
            top: 20px;
            padding: 2px 5px;
            border-radius: 50%;
            background: var(--white);
            color: var(--black);
        }
    }
   
    img{
        width: 370px;
        height: 370px;
    }
}