.home{
    width: 100%;
    .home-under{
        .owl-item{
            img{
                width: 400px;
                height: 250px;
            }
        }
    }
   
    .forsale, .transportation, .repair{
        padding: 15px;
        border-top: 1px solid var(--lightgray);
        h3{
            font-weight: 400;
        }
        .owl-item{
            p{
                position: none;
            }
        }
        .item{
            position: relative;
            width: 130px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                width: 130px;
                height: 130px;
                border-radius: 5px;
            }
            p{
                color: var(--white);
                width: 80%;
                text-align: center;
            }
        }
    }
}

.view{
    width: 100%;
    padding: 15px 0;
    margin-top: 15px;
}

.home-bottom{
    padding: 15px;

    .forsale, .repair{
        padding: 15px;
        border-top: 1px solid var(--lightgray);
    }
    ul{
        padding-inline-start: 0;
        justify-content: space-between;
        margin-bottom: 0;
        li{
            width: 50%;
            text-align: center;

            button{
                border: none;
                background: none;
                color: gray;
                font-weight: bold;
                width: 100%;
               
                &.active{
                    border: 1px solid var(--lightgray);
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom: 1.5px solid var(--orange);
                    color: #FC7521;
                }
            }
        }
    }
    .owl-carousel{
        height: 200px;
    }
    .owl-item{
        height: 200px;
        .item{
            height: 100%;
        }
        .product{
            height: 200px;

            p{
                position: none;
                top: 0;
                top: 100px;
                font-size: 14px;
                line-height: 25px;
                &.serial{
                    color: #FC7521;
                }
            }
        }
    }
}