.home{
    width: 100%;
    .home-under{
        .owl-item{
            img{
                width: 400px;
                height: 250px;
            }
        }
    }
}

.view{
    width: 100%;
    padding: 15px 0;
    margin: 15px;
}

.home-bottom{
    padding-top: 15px;
    .a{
        color: #FC7521;
    }
    ul{
        padding-inline-start: 0;
        justify-content: space-between;
        margin-bottom: 0;
        li{
            width: 50%;
            text-align: center;

            button{
                border: none;
                background: none;
                color: gray;
                font-weight: bold;
                width: 100%;
               
                &.active{
                    border: 1px solid var(--lightgray);
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom: 1.5px solid var(--orange);
                    color: #FC7521;
                }
            }
        }
    }
    .listSearch{
        button{
            background: none;
        }
    }
}

.repair{
    text-align: center;

    a{
        color: var(--orange);
        &:hover{
            color: var(--orange);
        }
        button{
            // margin: 15px;
            padding: 0 -15px;
        }
    }
}