.listimg{
    .head{
        justify-content: center;
        button.done{
            position: absolute;
            left: 0;
            top: -2px;
        }
    }
    .item{
        img{
            width: 165px;
            height: 165px;
            border-radius: 5px;
        }
    }
    // background: gray;
    // padding: 15px;

    // p{
    //     margin-bottom: 10px;
    // }
    // .listimg-body{
    //     justify-content: space-between;
    //     flex-wrap: wrap;
    //     img{
    //         width: 165px;
    //         height: 165px;
    //         border-radius: 5px;
    //         margin-bottom: 10px;
    //     }
    // }
}