.listimg{
    .head{
        justify-content: center;
        button.done{
            position: absolute;
            left: 0;
            top: -2px;
        }
    }
    .item{
        img{
            width: 165px;
            height: 165px;
            border-radius: 5px;
        }
    }

    .showProduct{
        img{
            margin-bottom: 15px;
        }
    }
}